.navbar{
    min-height: 4rem;
}

@media (max-width: 768px) {
  .navbar{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
}

.nav-icon{
    font-size: 1.5rem;
    color: #ff0000;
}


.nav-link{
    font-size: 1rem;
}

.btn-search{
    background-color: #ff0000;
    color: white;
    border-radius: 50px;
    line-height: 1rem;
    padding: 0 1.5rem;
}

.btn-search:hover{
    
    background-color: #ff0000;
    color: white;
    border-radius: 50px;
}

.search-inp{
    border-radius: 50px;
    font-size: .8rem;
    padding: 0.5rem 3rem .5rem 1.75rem; 
}